# Node.js
node_modules/

# Next.js
.next/
out/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Next.js development environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build artifacts
build/
