.bento_layout {
    margin-top: 10px;
    width: 95vw;
    max-width: 1600px;
    min-width: 1400px;
    height: 95vh;
    min-height: 700px;
    max-height: 1300px;
    display: flex;
    flex-wrap: nowrap;
    --border-radius-global: 70px;
}

/* CALENDAR SECTION */
.calendar_section { 
    flex-grow: 3.5;
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.calendar_section > div {
    width: 94%;
    border-radius: 60px;
}
.top_part_right {
    height: 74%;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top_part_right .top_part_slot,
.top_part_right .top_part_address {
    height: 11%;
    margin-top: auto;
}
.top_part_right .top_part_slot {
    border-radius: 60px 0 0 0;
    display: flex;
    align-items: center;
    width: 40%;
}
.top_part_right .top_part_slot > p {
    color: var(--primary-font-color);
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}
.top_part_right .top_part_address {
    width: 58%;
    border-radius: 25px 60px 0 0;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 12px;
}
.top_part_right .top_part_address div {
    display: flex;
    width: 80%;
    gap: 9px;
}
.top_part_right .top_part_address div > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_part_right .top_part_address:before {
    content: '';
    background-color: var(--secondary-color);
    width: 50px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 100%;
    border-radius: 30px;
    box-shadow: 15px 10px var(--primary-color);
    z-index: -1;
}
.top_part_right .top_part_calendar {
    height: 87.5%;
    width: 96%;
    margin-bottom: auto;
    border-radius: 25px 0 60px 60px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 3%;
}
.top_part_right .top_part_calendar .top_part_cal_btn {
    height: 12%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_part_cal_btn > div {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 30px;
    height: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_part_cal_btn > div.selected_btn {
    background-color: black;
    color: var(--primary-color);
}
.top_part_right .top_part_calendar .top_part_cal_cal {
    height: 60%;
}
.top_part_right .top_part_calendar .top_part_cal_info {
    height: 22%;
    display: flex;
    justify-content: center;
}
.top_part_cal_info .cal_info_string {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
.top_part_cal_info .cal_info_string > p {
    font-weight: bolder;
    font-size: 13px;
}
.top_part_cal_info .cal_info_string div {
    display: flex;
    gap: 8px;
}
.top_part_cal_info .cal_info_string div p:nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
}
.top_part_cal_info .cal_info_string div p:nth-child(2) {
    font-size: 12px;
}
.top_part_cal_info .cal_info_circle {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_part_cal_info .cal_info_circle > div {
    background-color: var(--complementary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.bottom_part_right {
    background-color: var(--secondary-color);
    height: 24%;
    display: flex;
    flex-direction: column;
}
.labels_casting {
    height: 20%;
    width: 67%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.labels_casting p {
    font-size: 20px;
    font-weight: bold;
}
.labels_casting_buttons_container {
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.image_casting {
    height: 80%;
    border-radius: 60px;
    display: flex;
    align-items: end;
    background-image: url('https://img.freepik.com/premium-photo/anime-girl_811396-10363.jpg');
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: 120%;
}
.image_casting_buttons {
    margin: 0 auto;
    height: 30%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.image_casting_buttons > div {
    border-radius: 40px;
    background-color: var(--primary-color);
    height: 50%;
    width: 45%;
}
.portrait_img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-global);
    background-image: url('../../public/images/banner_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ALL THE CENTER */
.center_banner { 
    flex-grow: 15;
    position: relative;
    display: flex;
}
/* Container Bottom left - rounded effect */
.container_btn_lft {
    width: 35%;
    height: 30%;
    display: flex;
    background-color: var(--background-color);
    border-radius: 0px var(--border-radius-global) 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.container_btn_lft::before {
    content: '';
    background-color: transparent;
    height: 130px;
    width: 130px;
    position: absolute;
    border-radius: 50%;
    box-shadow: -55px 55px var(--background-color);
    z-index: -1;
}
.container_btn_lft::before {
    bottom: 0%;
    left: 100%;
}

/* Container top center - rounded effect */
.container_top_center {
    width: 32%;
    height: 10%;
    background-color: var(--background-color);
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.container_top_center .diagonal_1, 
.container_top_center .diagonal_2 {
    background-color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 32px;
    scale: 1.5;
    bottom: 12px;
    z-index: 1;
}
.container_top_center .diagonal_2 {
    left: 11px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    z-index: -1;
}
.container_top_center .diagonal_1 {
    right: 11px;
    transform: rotate(45deg);
    transform-origin: bottom right;
    z-index: -1;
}
.container_top_center .diagonal_1::before {
    content: '';
    background-color: transparent;
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    box-shadow: -50px -23px var(--background-color);
    z-index: -1;
}
.container_top_center .diagonal_1::before {
    top: -2px;
    left: 100%;
}
.container_top_center .diagonal_2::before {
    content: '';
    background-color: transparent;
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 50px -23px var(--background-color);
    z-index: -1;
}
.container_top_center .diagonal_2::before {
    top: -2px;
    right: 100%;
}
.top_container_main {
    background-color: var(--secondary-color);
    width: 80%;
    margin: auto auto 20px auto;
    height: 53%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.top_container_main > div {
    background-color: red;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
/* Container Diagonal left - rounded effect */
.diagonal_left {
    position: absolute;
    background-color: var(--background-color);
    bottom: 100%;
    left: 0;
    height: 150px;
    margin: 0 auto;
    z-index: -1;
    width: 230px;
    transform-origin: top left;
    rotate: 40.5deg;
}
.diagonal_left::before {
    content: '';
    background-color: transparent;
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
    box-shadow: -35px 60px var(--background-color);
    z-index: -1;
    bottom: 100%;
    left: -22px;
}
.diagonal_left::after {
    content: '';
    background-color: transparent;
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 28px 70px var(--background-color);
    z-index: -1;
    bottom: 100%;
    right: -26px;
}

/* Container of the left bottom box */
.container_btn_lft .container_box {
    height: 97%;
    width: 98%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-global);
    border-top-left-radius: 0;
    margin: 0px 0px 0 0;
    background-color: var(--secondary-color);
    position: relative;
}
.container_btn_lft .container_box::after {
    content: '';
    position: absolute;
    bottom: 124%;
    left: -35px;
    background-color: var(--secondary-color);
    height: 115px;
    width: 350px;
    z-index: -1;
    transform-origin: top left;
    rotate: 40.5deg;
}

.container_btn_lft .container_box .main_container_left_box {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    border-radius: var(--border-radius-global);
}

/* Bottom container inside banner */
.container_bottomRight {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 48%;
    max-width: 500px;
    height: 33%;
}
.bottom_container {
    z-index: 1;
    filter: url(#goo);
    display: flex;
    height: 100%;
    position: relative;
}
.bottom_container .date_container {
    background-color: var(--optional-color);
    height: 60%;
    width: 25%;
    border-radius: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom_container .date_container::after {
    content: '';
    background-color: var(--optional-color);
    width: 50px;
    height: 30px;
    top: 95%;
    right: -23px;
    rotate: 45deg;
    position: absolute;
    z-index: -1;
    color: var(--primary-font-color);
}
.bottom_container .date_container > p:nth-child(1) {
    font-size: 10px;
}
.bottom_container .date_container > p:nth-child(2) {
    font-size: 45px;
}
.bottom_container .rest_content_dnd {
    right: 0;
    height: 100%;
    background-color: var(--optional-color);
    border-radius: var(--border-radius-global);
    border-top-left-radius: 0;
    border-bottom-left-radius: 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bottom_container .rest_content_dnd > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 88%;
    color: var(--primary-font-color);
}
.bottom_container .rest_content_dnd > div:nth-child(1) {
    height: 60%;
    flex-direction: column;
    font-size: 44px;
}
.bottom_container .rest_content_dnd > div:nth-child(1) span {
    color: var(--complementary-font-color);
}
.bottom_container .rest_content_dnd > div:nth-child(2) {
    background-color: var(--primary-color);
    height: 28%;
    justify-content: space-around;
}
.svg_bottom_dnd {
    display: none;
}

/* Logo circle */
.logo_circle {
    background-color: var(--complementary-color);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* buttons Left Right */
.buttons_left_right {
    position: absolute;
    width: 87%;
    z-index: 1;
    display: flex;
    height: 10%;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.button_prev,
.button_next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    position: absolute;
    width: 21%;
    height: 55%;
    border-radius: 25px;
}
.button_prev {
    left: 0;
}
.button_next {
    right: 0;
}


/* ALL THE ICONS BAR */
.icons_bar { 
    flex-grow: 1.5;
    z-index: 1;
    display: flex;
    width: 0px;
    flex-direction: column;
    justify-content: space-between;
}
.container_icons::before {
    content: '';
    z-index: -1;
    background-color: var(--secondary-color);
    width: 110%;
    height: 101%;
    position: absolute;
    border-radius: 100px;
}
.secondary_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 26%;
    gap: 10px;
}
.button_circular {
    background-color: var(--secondary-color);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    position: relative;
}
.large_btn_circular {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.large_btn_circular > div {
    background-color: red;
    width: 85%;
    height: 35%;
    border-radius: 25px;
}
.large_btn_circular > div:nth-child(2) {
    background-color: var(--primary-color);
    height: 50%;
}

/* Options in the Menu Left Bar */
.container_icons {
    position: relative;
    background-color: var(--primary-color);
    height: 73%;
    border-radius: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7%;
}
.logo_img,
.options_menu,
.user_logo, 
.extra_option {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_img {
    background-color: red;
    margin-top: 25px;
    height: 50px;
}
.options_menu {
    height: 210px;
}
.options_menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between
}
.options_menu ul li {
    background-color: red;
    height: 15%;
}
.options_menu ul li a {
    border: 1px solid brown;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_logo {
    background-color: red;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.extra_option {
    background-color: red;
    height: 50px;
}